<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ytb.project.dao.ProjectTradeMapper" >



    <insert id="addProjectTrade0" parameterType="ytb.project.model.ProjectTradeModel" >
        insert into project_trade (project_id,phase,user_id,trade_id)
        values (#{projectId},#{phase},#{userId},#{tradeId})
	</insert>


</mapper>