<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ytb.bangbang.dao.GroupTypeDao" >

<insert id="addGroupTyp" useGeneratedKeys="true" keyProperty="groupTypeId" parameterType="ytb.bangbang.model.GroupType">
     INSERT INTO group_type(group_name,user_id) VALUES(#{groupName},#{userId});
</insert>

  <delete id="delGroupTyp">
      DELETE from group_type WHERE group_type_id=#{groupTypeId};
  </delete>

  <update id="upGroupTyp">
      UPDATE group_type  SET group_name=#{groupName}  WHERE group_type_id=#{groupTypeId};
  </update>

    <select id="getGroupTypCounts" resultType="int">
        SELECT count(*) FROM group_type WHERE user_id=#{userId};
    </select>

    <!-- 获取指定分组Id-->
    <select id="getGroupTypId" resultType="int">
        SELECT group_type_id from group_type WHERE user_id=#{userId} and group_name=#{groupName};
    </select>
</mapper>