<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ytb.bangbang.dao.RecordUserDao" >
    <resultMap id="recordUser" type="ytb.bangbang.model.Record_UserModel">
        <id property="Record_id"  column="record_id"/>
        <result property="CreateTime" column="create_time"/>
        <result property="FromUser" column="from_user"/>
        <result property="ToUser" column="to_user"/>
        <result property="Content" column="content"/>
    </resultMap>
    <!--获取聊天记录信息-->
    <select id="GetRecordUserList" resultMap="recordUser">
       <!-- SELECT record_id,date_format(create_time,'%Y-%c-%e %T')create_time,from_User,to_User,content
       FROM record_user WHERE to_User=#{userID} AND from_User=#{friendID} ORDER BY create_Time DESC-->
        SELECT * FROM  ytb_bangbang.record_user WHERE to_User=#{userID} AND from_User=#{friendID} ORDER BY create_Time DESC
    </select>
    <!--记录聊天记录-->
    <insert id="AddRecordUser">
        INSERT INTO record_user(from_user,to_user,content,create_time) VALUES(#{userId},#{friendId},#{content},now())
    </insert>

    <!--获取某段时间的聊天记录-->
    <select id="getUserRecords" resultMap="getUserRecordsMap">
        SELECT r.*,
        (SELECT nick_name from ytb_user.user_info WHERE user_id=r.from_user) as 'fromUserName',
        (SELECT nick_name from ytb_user.user_info WHERE user_id=r.to_user) as 'toUserName'
        from record_user r WHERE(
        (from_User=#{fromUser} and to_User=#{toUser})
        or(from_User=#{toUser} and to_User=#{fromUser})
        )
        <if test="beganTime !=null">
            and create_Time >=  #{beganTime}
        </if>
        <if test="endTime !=null">
            and create_Time &lt;= #{endTime}
        </if>
        <if test="type == 1">
            and r.content REGEXP '^img\\[\\/\\/bangbang\\.youtobon\\.com\\/bangbangRest\\/bangbang\\/previewImage\\?msgBody\\='
        </if>
        <if test="type == 2">
            and r.content REGEXP '^file\\(\\/\\/bangbang\\.youtobon\\.com\\/bangbangRest\\/bangbang\\/download\\?msgBody\\='
        </if>
    </select>
    <resultMap id="getUserRecordsMap" type="ytb.bangbang.model.Record_UserModel">
        <id column="record_id" property="Record_id"/>
        <result column="content" property="Content"/>
        <result column="create_Time" property="CreateTime"/>
        <result column="from_User" property="FromUser"/>
        <result column="to_User" property="ToUser"/>
        <result column="fromUserName" property="fromUserName"/>
        <result column="toUserName" property="toUserName"/>
    </resultMap>
    
    <delete id="delSingFile">
        DELETE from record_user WHERE record_id=#{recordId};
    </delete>
</mapper>