<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ytb.user.dao.VTagSpecialtyMapper" >

    <select id="getVTagSpecialList" resultType="ytb.user.model.VTagSpecialtyModel">
        select * from v_tag_specialty where parentid =#{tagId} and tagType = #{tagType}
    </select>
</mapper>