<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ytb.manager.report.dao.ReportMapper" >


    <select id="ReportList" resultType="map">
        SELECT * FROM v_user_report
        <if test="offset != null  and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="getReportCount" resultType="int">
        SELECT count(*) FROM v_user_report
    </select>


</mapper>